.idea/*
.DS_Store
.htaccess
*_local.php
cms/media/libs/*
media/libs/*
application/vendor/*
data/*
!data/.gitkeep
!data/cache/.gitkeep
!data/cache/alice/.gitkeep
!data/cache/bob/.gitkeep
!data/logs/.gitkeep
!data/upload/.gitkeep
!data/upload/0/.gitkeep
!data/upload/1/.gitkeep
!data/upload/2/.gitkeep
!data/upload/3/.gitkeep
!data/upload/4/.gitkeep
!data/upload/5/.gitkeep
!data/upload/6/.gitkeep
!data/upload/7/.gitkeep
!data/upload/8/.gitkeep
!data/upload/9/.gitkeep
!data/upload/original/.gitkeep
!data/upload/original/0/.gitkeep
!data/upload/original/1/.gitkeep
!data/upload/original/2/.gitkeep
!data/upload/original/3/.gitkeep
!data/upload/original/4/.gitkeep
!data/upload/original/5/.gitkeep
!data/upload/original/6/.gitkeep
!data/upload/original/7/.gitkeep
!data/upload/original/8/.gitkeep
!data/upload/original/9/.gitkeep
!data/upload/thumb/.gitkeep
!data/upload/thumb/0/.gitkeep
!data/upload/thumb/1/.gitkeep
!data/upload/thumb/2/.gitkeep
!data/upload/thumb/3/.gitkeep
!data/upload/thumb/4/.gitkeep
!data/upload/thumb/5/.gitkeep
!data/upload/thumb/6/.gitkeep
!data/upload/thumb/7/.gitkeep
!data/upload/thumb/8/.gitkeep
!data/upload/thumb/9/.gitkeep