.navigation,.main-view{margin-left: 20px; margin-right: 20px;}
.navigation.panel-header{padding: 0;}
.main-view{margin-top: 5px;}
.navsub .easyui-link{display: block;width: 200px;padding:2px 5px 2px 30px;}
