.navigation{float: left;width: 220px;padding: 0px;border: 0; margin-top: 5px; margin-left: 20px;}
.navsub .easyui-link{display: block;padding: 5px;}
.main-view { padding: 5px; padding-left: 0px;margin-left: 250px;margin-right: 20px;}