.navigation{float: right;border:0;width: 220px; padding:0px;margin-right: 20px; margin-top: 5px;}
.navsub .easyui-link{display: block;padding: 5px;}
.main-view { padding: 5px;margin-right: 240px; margin-left: 20px;}